@model Kanoo.Models.TravelAdvisor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TravelAdvisor</h4>
<hr />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
