@model IEnumerable<Kanoo.Models.FlightAndStay>

@{
    ViewData["Title"] = "Flights and Stays";
}

<h1>Available Package Deals</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<partial name="~/Views/Shared/Products/FlightAndHotelsTablePartial.cshtml"></partial>
