@model IEnumerable<Kanoo.Models.FlightAndStay>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<partial name="~/Views/Shared/Products/FlightAndHotelsTablePartial.cshtml"></partial>
