@model Kanoo.Models.Api

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Api</h4>
<hr />
Item created.
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
