@model Kanoo.Models.Api

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Api</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="year" class="control-label"></label>
                <input asp-for="year" class="form-control" />
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="month" class="control-label"></label>
                <input asp-for="month" class="form-control" />
                <span asp-validation-for="month" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="day" class="control-label"></label>
                <input asp-for="day" class="form-control" />
                <span asp-validation-for="day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hour" class="control-label"></label>
                <input asp-for="hour" class="form-control" />
                <span asp-validation-for="hour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="minute" class="control-label"></label>
                <input asp-for="minute" class="form-control" />
                <span asp-validation-for="minute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seconds" class="control-label"></label>
                <input asp-for="seconds" class="form-control" />
                <span asp-validation-for="seconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="milliSeconds" class="control-label"></label>
                <input asp-for="milliSeconds" class="form-control" />
                <span asp-validation-for="milliSeconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateTime" class="control-label"></label>
                <input asp-for="dateTime" class="form-control" />
                <span asp-validation-for="dateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time" class="control-label"></label>
                <input asp-for="time" class="form-control" />
                <span asp-validation-for="time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="timeZone" class="control-label"></label>
                <input asp-for="timeZone" class="form-control" />
                <span asp-validation-for="timeZone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dayOfWeek" class="control-label"></label>
                <input asp-for="dayOfWeek" class="form-control" />
                <span asp-validation-for="dayOfWeek" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="dstActive" /> @Html.DisplayNameFor(model => model.dstActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
