@model IEnumerable<Kanoo.Models.Stay>

@{
    ViewData["Title"] = "Stays";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>

@* link to where the partial is passing data TO the partial *@
<partial name="~/Views/Shared/Products/StaysTablePartial.cshtml" model="Model" />
