@model IEnumerable<Kanoo.Models.Flight>

@{
    ViewData["Title"] = "Flights";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@* link to where the partial is passing data TO the partial *@
<partial name="~/Views/Shared/Products/FlightsTablePartial.cshtml" model="Model" />
